{% comment %}
  In this section one block used for tab and collection ...and only individual collection also...
{% endcomment %}

<div
  class="customizer--collection-section {{ section.settings.classname }}"
  id="customizer-collection-wrapp"
  style="background:{{ section.settings.bg_clr }}"
>
  <div class="customizer-collecton-wrapper page-width">
    {% if section.settings.secheading != blank %}
      <div class="secheading">
        <h2>{{ section.settings.secheading }}</h2>
      </div>
    {% endif %}

    <!-- START:- block using collection tab that is shown upper side on page -->
    <div class="collection-tab-wrapper">
      {% for block in section.blocks %}
        {% if block.settings.icon_img != blank or block.settings.btnlabel != blank %}
          <div class="coll--tab-wrapp">
            {% if block.settings.icon_img != blank %}
              {{ block.settings.icon_img | image_url: width: 200 | image_tag: loading: 'lazy', class: 'icon_img' }}
            {% endif %}
            {% if block.settings.coll_name != blank %}
              <div class="coll_name tab-coll-name">
                {{ block.settings.coll_name }}
              </div>
            {% endif %}
            {% if block.settings.btnlabel != blank %}
              <div
                class="btnlabel button coll-tab-button selected-element"
                data-target="#{{ block.settings.coll_name | replace: ' ','-' }}"
              >
                {{ block.settings.btnlabel }}
              </div>
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <!-- END:- block using collection tab that is shown upper side on page -->

    <!-- START:- block using collection tab content that is shown below tab on page -->
    <div class="collection-content-wrapper ">
      {% for block in section.blocks %}
        {% if block.type == 'add_collection' %}
          {% if block.settings.collection != blank %}
            <div class="collection_wrapp" style="background:{{ block.settings.blockbg_clr }}">
              {% if block.settings.coll_name != blank %}
                <div class="coll_name" id="{{ block.settings.coll_name | replace: ' ','-' }}">
                  <h2>{{ block.settings.coll_name }}</h2>
                </div>
              {% endif %}
              <div class="collection-block {% if block.settings.slider_enable %}js-collection-slider{% endif %}">
                {% for product in block.settings.collection.products %}
                  {% if product.featured_image != blank %}
                    <div class="product-item">
                      <div class="product-image">
                        {% if product.metafields.custom.collection_url != blank %}
                          <a href="{{ product.metafields.custom.collection_url }}">
                        {% endif %}
                        {{
                          product.featured_image
                          | image_url: width: 400
                          | image_tag: loading: 'lazy', class: 'featured_image', alt: product.title
                        }}
                        {% if product.metafields.custom.collection_url != blank %}
                          </a>
                        {% endif %}
                      </div>

                      <div class="product-title">
                        {% if product.metafields.custom.collection_url != blank %}
                          <a href="{{ product.metafields.custom.collection_url }}">
                        {% endif %}
                        {{ product.title }}
                        {% if product.metafields.custom.collection_url != blank %}
                          </a>
                        {% endif %}
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
    <!-- END:- block using collection tab content that is shown below tab on page -->
  </div>
</div>
{% schema %}
  {
    "name": "Featured Collection",
    "settings": [
    {
        "type": "select",
        "id": "classname",
        "label": "Unique ClassName",
        "options": [
          {
            "value": "cust-collection-design1",
            "label": "Design 1"
          },
          {
            "value": "cust-collection-design2",
            "label": "Design 2"
          }
      ]
    },
       {
      "type": "color",
      "id": "bg_clr",
      "label": "Background Color"
    },
       {
      "type": "text",
      "id": "secheading",
      "label": "Section Heading",
    }
    ],
    "blocks": [
      {
        "type": "add_collection",
        "name":"Collection",
        "settings": [
            {
      "type": "color",
      "id": "blockbg_clr",
      "label": "Background Color"
    },
          {
            "type": "checkbox",
            "id": "slider_enable",
            "label": "Enable Slider for Collection"
          },
          {
            "type": "header",
            "content": "Tab Content[only for collection tab]"
          },
          {
            "type": "image_picker",
            "id": "icon_img",
            "label": "Image",

          },
          {
            "type": "text",
            "id": "coll_name",
            "label":"Collection Name"
          },
          {
            "type": "text",
            "id": "btnlabel",
            "label": "Button Label"
          },
          {
            "type": "header",
            "content": "Add Collection....."
          },
          {
            "type": "collection",
            "id":"collection",
            "label": "Collection"
          }
        ]
      }
    ],

    "presets": [
      {
        "name":"Customizer Featured Collection"
      }
    ]
  }
{% endschema %}
